SIGNAL_HOST=share.app.lazaruslabs.com.br
SIGNAL_IP=0.0.0.0
SIGNAL_TLS_MODE=system
TURN_HOST=share.app.lazaruslabs.com.br
TURN_PRIVATE_IP=10.0.1.20
TURN_PUBLIC_IP=129.148.20.150
TURN_SECRET=REPLACE_WITH_RANDOM_SECRET
