[Desktop Entry]
Type=Application
Name=Lazarus Share
Exec=lazarus-share %u
Icon=lazarus-share
Categories=Network;AudioVideo;
Terminal=false
MimeType=x-scheme-handler/lazarus-share;
